html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url("./boxingappimage1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Impact, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}

.navbar {
  overflow: hidden;
  background-color: #f9e8e9;
  position: fixed;
  bottom: 0;
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 7px;
  padding: 20px;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 17px;
  padding: 12px;
  border-radius: 7px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #f0c8bc;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
